* {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 26px 360px 0px;
}

section {
  width: 100%;
}

.saleProducts {
  color: #111827;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.saleListNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.saleBarMenus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.saleBarMenus > a {
  display: flex;
  height: 42px;
  padding: 12px 23px;
  text-decoration: none;
  border-radius: 8px;
  background: #3692ff;
  color: #f3f4f6;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
